<% if @slot.errors.any? %>
  <div class="alert alert-danger">
    <h6>The following errors prevented the slot from being saved:</h6>
    <ul>
      <% @slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% @slot %>
<%= form_with(model: [@boxhouse, @box, @slot], local: true) do |form| %>
  <div>
    <%= form.label :slot_number %>
    <%= form.number_field :slot_number %>
  </div><br>

  <div>
    <%= form.label :start_time %>
    <%= form.time_field :start_time %>
  </div><br>

  <div>
    <%= form.label :end_time %>
    <%= form.time_field :end_time %>
  </div><br>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div><br>

  <div>
    <%= form.submit class: "btn btn-sm btn-primary mt-2" %>
  </div>
  
<% end %>