<h2>Available Slots</h2>
<% if @box.slots.any? %>
  <table class="table table-bordered table-hover mt-2" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Price</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @box.slots.each do |slot| %>
        <tr>
          <td><%= slot.slot_number %></td>
          <td><%= slot.start_time.strftime("%I:%M %p") %></td>
          <td><%= slot.end_time.strftime("%I:%M %p") %></td>
          <td><%= slot.price %></td>
          <td>
            <%= link_to 'Edit', edit_boxhouse_box_slot_path(@boxhouse, @box, slot) %>
          </td>
          <td>
            <%= button_to "Delete", boxhouse_box_slot_path(@boxhouse, @box, slot), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No slots available for this box.</p>
<% end %>

<%= link_to "New Slot", new_boxhouse_box_slot_path(@box.boxhouse_id, @box), class: "btn btn-sm btn-primary" %>

<%= link_to "Back to Boxes", boxhouse_boxes_path %>