<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Click And Play" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="container mb-4">
        <div><%= link_to "Home", root_path %></div>
        <h1>Admin Dashboard</h1>

        <h2>Users</h2>
        <table class="table table-bordered table-hover mt-2">
          <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= user.roles.pluck(:name).join(", ") %></td>
                  <td><%= button_to "Delete", destroy_user_admin_dashboard_path(user), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" } %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>