<%= form_with model: [@boxhouse, @box], local: true do |form| %>
  <div>
    <%= form.label :name, "Name : " %>
    <%= form.text_field :name %>
    <% box.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :description, "Description : " %>
    <%= form.text_area :description %>
    <% box.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.submit class: "btn btn-sm btn-primary mt-2" %>
  </div>
<% end %>