<h1>Boxes</h1>
<% if current_user == @boxhouse.user %>
    <%= link_to "+Box", new_boxhouse_box_path(@boxhouse), class: "btn btn-sm btn-primary" %>
    <table class="table table-bordered table-hover mt-2" >
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if @boxes.any? %>
                <% @boxes.each do |box| %>
                    <tr>
                        <td><%= box.name %></td>
                        <td><%= link_to "Show", boxhouse_box_path(box.boxhouse_id, box) %></td>
                        <td><%= link_to "Edit", edit_boxhouse_box_path(box.boxhouse_id, box) %></td>
                        <td><%= button_to "Delete", boxhouse_box_path(box.boxhouse_id, box), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" } %></td>
                    </tr>
                <% end %>
            <% else %>
                <tr>
                    <td colspan="4" class="text-center">No boxes available.</td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <table class="table table-bordered table-hover mt-2" >
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if @boxes.any? %>
                <% @boxes.each do |box| %>
                    <tr>
                        <td><%= box.name %></td>
                        <td><%= link_to "Show", boxhouse_box_path(box.boxhouse_id, box), class: "btn btn-sm btn-primary" %></td>
                    </tr>
                <% end %>
            <% else %>
                <tr>
                    <td colspan="4" class="text-center">No boxes available.</td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
